body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    /* width: 1440px; */
    }

.square{
    background-color: white;
    border-radius: 5%;
    height: 500px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 200px;
}

.qr-image{
    border-radius: 5%;
    height: 250px;
    margin: 20px;
}