body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    /* width: 1440px; */
    }

.bottom-text{
    color: hsl(220, 15%, 55%);
    margin: 20px;
}
.top-text{
    color: hsl(218, 44%, 22%);
    margin: 0px 20px;
    font-weight: 700;
    font-size: 22px;
}
.square{
    background-color: white;
    border-radius: 5.5%;
    height: 500px;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
}

.qr-image{
    border-radius: 3%;
    height: 280px;
    margin: 15px;
}

.attribution{
    position: absolute;
    bottom: 0%;
    left: 25%;
    right: 25%;
}