body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    /* width: 1440px; */
    }

.square{
    /* position: absolute; */
    background-color: white;
    /* margin: auto; */
    width: 30%;
    height: 30%;
}

.qr-image{
    border-radius: 2%;
    height: 200px;
}